[user]
	email = jbtcao@gmail.com
	name = skippi
[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.config/git/ignore
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "vscode"]
	cmd = "code --wait --diff  "
[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = nvim -d
[mergetool "vscode"]
	cmd = "code --wait "
[init]
	templatedir = ~/.config/git/template
[pull]
	rebase = false
[alias]
	ctags = !$(git rev-parse --git-common-dir)/hooks/ctags
	hide = "!git ls-files -z \"$1\" \
		| xargs -0 git update-index --assume-unchanged #"
	unhide = "!git ls-files -z \"$1\" \
		| xargs -0 git update-index --no-assume-unchanged #"
	ls-hidden = !git ls-files -v | grep '^h' | cut -c3-
