set hlsearch
set ignorecase
set incsearch
set smartcase

set commentary
set surround

nnoremap <BS> <C-6>
nnoremap <C-p> <C-i>
nnoremap U <C-r>
nnoremap Y y$
noremap <expr> j (v:count ? 'm`' . v:count . 'j' : 'gj')
noremap <expr> k (v:count ? 'm`' . v:count . 'k' : 'gk')

nnoremap <Space> <Nop>
nnoremap <Space>d :tabc<CR>
nnoremap <Space>e :action GotoFile<CR>
nnoremap <Space>f :action GotoFile<CR>
nnoremap <Space>q :q<CR>
nnoremap <Space>w :w<CR>

nnoremap \c :action GotoClass<CR>
nnoremap \s :source ~/.ideavimrc<CR>

nnoremap g/ :action FindInPath<CR>
nnoremap gw <C-w>
noremap gh ^
noremap gl g_

nnoremap m, #``cgN
nnoremap m; *``cgn

nnoremap Q q
nnoremap q <Nop>
nnoremap q/ q/
nnoremap q: q:
nnoremap q? q?
nnoremap q] :action GotoImplementation<CR>
nnoremap qc :action RenameElement<CR>
nnoremap qr :action FindUsages<CR>

nnoremap <C-l> :noh<CR>
" nnoremap <expr> <C-L> (v:count ? '<Cmd>edit<CR>' : '')
"       \ . '<Cmd>noh<CR>'
"       \ . (has('diff') ? '<Cmd>diffupdate<CR>' : '')
"       \ . '<Cmd>redraw<CR>'
